<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        {if="isset($_GET['msg']) && $_GET['msg'] == 1"}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-check"></i> Sucesso!</h5>
          Membro cadastrado com sucesso!
        </div>
        {/if}
        {if="isset($_GET['msg']) && $_GET['msg'] == 2"}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-check"></i> Sucesso!</h5>
          Membro excluido com sucesso!
        </div>
        {/if}
        {if="isset($_GET['msg']) && $_GET['msg'] == 3"}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-check"></i> Sucesso!</h5>
          Membro atualizado com sucesso!
        </div>
        {/if}
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      
      <div class="row">
        
        <div class="col-6"> 
          <div class="card">
            <div class="card-header bg-primary">
              <h3 class="card-title">Próximos aniversariantes <br /> <small>Mês de {function="mesExtenso(mesAtual())"}</small></h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <ul class="products-list product-list-in-card pl-2 pr-2">
                {if="count($limitAniversaritantesMes) == 0"}
                <li class="item">
                  <div class="">
                    Nenhum aniversariante próximo até o final do mês
                  </div>
                </li>
                {/if}
                {loop="$limitAniversaritantesMes"}
                <li class="item">
                  <div class="product-info">
                    <a href='/fichamembro/{function="cripto($value.idMembro)"}' target="_blank" class="product-title">{$value.nomeMembro}</a>
                      <span class="float-right"><a href='/fichamembro/{function="cripto($value.idMembro)"}' target="_blank" class="btn btn-success"><i class="nav-icon fas fa-copy"></i></a>
                      </span>
                    <span class="product-description">
                      {$value.cargoMinisterialMembro}
                    </span>
                    <span class="product-description">
                      <small>Dia: {function="formatAniversario($value.dataNascimentoMembro)"}</small>
                    </span>
                  </div>
                </li>
                <!-- /.item -->
                {/loop}
              </ul>
            </div>
            <div class="card-header bg-primary">
              <div class="card-tools">
                <a href='/localizadoraniversariantes/{function="cripto(mesAtual())"}' class="small-box-footer" style="color: white;">Ver todos <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card --> 
        </div>
        <div class="col-6"> 
          <div class="card">
            <div class="card-header bg-primary">
              <h3 class="card-title">Próximos aniversariantes de casamento <br /> <small>Mês de {function="mesExtenso(mesAtual())"}</small></h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <ul class="products-list product-list-in-card pl-2 pr-2">
                {if="count($limitAniversaritantesCasamento) == 0"}
                <li class="item">
                  <div class="">
                    Nenhum aniversariante próximo até o final do mês
                  </div>
                </li>
                {/if}
                {loop="$limitAniversaritantesCasamento"}
                <li class="item">
                  <div class="product-info">
                    <a href='/fichamembro/{function="cripto($value.idMembro)"}' target="_blank" class="product-title">{$value.nomeMembro}</a>
                      <span class="float-right"><a href='/fichamembro/{function="cripto($value.idMembro)"}' target="_blank" class="btn btn-success"><i class="nav-icon fas fa-copy"></i></a></span>
                    <span class="product-description">
                      {$value.cargoMinisterialMembro}
                    </span>
                    
                    <span class="product-description">
                      <small>Dia: {function="formatAniversario($value.dataCasamentoMembro)"}</small>
                    </span>
                  </div>
                </li>
                <!-- /.item -->
                {/loop}
              </ul>
            </div>
            <!-- /.card-body -->
            <div class="card-header bg-primary">
              <div class="card-tools">
                <a href='/localizadoraniversariantescasamento/{function="cripto(mesAtual())"}' class="small-box-footer" style="color: white;">Ver todos <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /.card --> 
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-header border-transparent bg-primary">
              <h3 class="card-title">Últimos membros cadastrados</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th style="width: 50%;">Nome</th>
                    <th>Cargo Ministerial</th>
                    <th></center>Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                    {loop="$ultimosMembros"}
                  <tr>
                    <td>{$value.nomeMembro}</td>
                    <td>{$value.cargoMinisterialMembro}</td>
                    <td>
                      <a href='/fichamembro/{function="cripto($value.idMembro)"}' target="_blank" class="btn btn-success"><i class="nav-icon fas fa-copy"></i></a>
                      <a href='/editarmembro/{function="cripto($value.idMembro)"}' class="btn btn-primary"><i class="nav-icon fas fa-user-edit"></i></a>
                      <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modal-sm" onclick="deletarUsuario('{$value.idMembro}', '{$value.nomeMembro}')"><i class="nav-icon fas fa-times-circle"></i></a>
                    </td>
                  </tr>
                  {/loop}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-header bg-primary">
              <div class="card-tools">
                <a href="/localizadorfichasmembro" class="small-box-footer" style="color: white;">Ver todos <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->